@import url(http://fonts.googleapis.com/css?family=Montserrat:200,700);

body {
    background-color: #1a1a1a;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 16px;
    color: #fff;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
::selection {
    background: #B65C5C; /* WebKit/Blink Browsers */
    color: #fff;
}
::-moz-selection {
    background: #B65C5C; /* Gecko Browsers */
    color: #fff;
}

/* Heading typo */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    color: #333;
}


/* Paragraph typo */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

/* Default class */
.default {
    background: #1a1a1a;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;

    h3 {
        color: white;
        font-size: 28px;
        font-weight: 400;
        letter-spacing: 1px;
    }

    i {
        font-size: 8px;
        color: #fff;
        padding: 3px;
    }

    p {
        font-size: 20px;
        color: #f2f2f2;
    }

    img {
        text-align: center;
    }
}

/* Links */
a {
    color: #f85c37;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

/* Others Typo */
.centered {
    text-align: center;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* Header wrap */
#headerwrap {
    /*background: url('../../img/header-bg.jpg') no-repeat center top;*/
    margin-top: 0px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 700px;
    width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    h1 {
        margin-top: 200px;
        color: #fff;
        font-size: 70px;
        font-weight: 400;
    }

    h2 {
        color: #fff;
        font-size: 40px;
        font-weight: 200;
    }

    h3 {
        color: #fff;
        font-size: 30px;
        font-weight: 100;
        font-family: 'EB Garamond', serif;
        font-style: italic;
    }

    h4, p {
        font-size: 20px;
        color: #fff;
    }

    .logo {
        text-align: left;
        margin-left: 20px;
        margin-top: 15px;
    }
}

@media (max-width: 1024px) {
    #headerwrap h1 {
        margin-top: 150px;
    }
}

@media (max-width: 767px) {
    #headerwrap {
        background: url('../../img/header-bg.jpg') no-repeat left bottom;
        min-height: 500px;

        h1 {
            font-size: 60px;
            margin-top: 80px;
        }
    }
}

@media (min-width: 768px) {
    #headerwrap {
        background: url('../../img/header-bg.jpg') no-repeat center top;
        min-height: 700px;
        width: 100%;

        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;

        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

}

@media (max-width: 640px) {
    #headerwrap h1 {
        font-size: 50px;
        margin-top: 50px;
    }
}

@media (min-width: 1380px) {
    #headerwrap {
        background: url('../../img/header-bg.jpg') no-repeat center bottom;
        min-height: 700px;
        width: 100%;

        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;

        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

/* Footer Wrap */
#footerwrap {
    padding-top: 70px;
    padding-bottom: 50px;
    background-color: #1a1a1a;

    p {
        color: #f2f2f2;
        margin-left: 10px;
    }

    .copyright {
        font-size: 0.8em;
        margin: 0px;
    }
}

/* Menu */
.menu {
    position: fixed;
    right: -200px;
    width: 260px;
    height: 100%;
    top: 0;
    z-index: 10;
    text-align: left;

    h1.logo a {
        font-family: 'Oswald', sans-serif;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.15em;
        line-height: 40px;
        text-transform: uppercase;
        color: #fff;
        margin-top: 20px;
    }

    h1.logo a:hover {
        color: #f85c37;
    }

    img.logo {
        margin: 20px 0;
        max-width: 160px;
    }

    a {
        margin-left: 20px;
        color: #808080;
        display: block;
        font-size: 12px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }

    a:hover {
        color: #fff;
    }

    a:active {
        color: #fff;
    }

    a > i {
        float: left;
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        width: 25px;
        font-size: 14px;
        line-height: 40px;
        margin: 25px 2px;
    }
}

.menu.menu-open {
    right: 0px;
}

.menu-wrap {
    position: absolute;
    top: 0;
    left: 60px;
    background: #1a1a1a;
    width: 200px;
    height: 100%;
}

.menu-close {
    cursor: pointer;
    display: block;
    position: absolute;
    font-size: 14px;
    color: #808080;
    width: 40px;
    height: 40px;
    line-height: 40px;
    top: 15px;
    right: 15px;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.menu-close:hover {
    color: #fff;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.body-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
}

.body-push-toright {
    left: 200px;
}

.body-push-toleft {
    left: -200px;
}

.menu,
.body-push {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#menuToggle {
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 11;
    display: block;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.25);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

#menuToggle:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

/* Social section */
.social {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f2f2f2;

    i {
        font-size: 40px;
        color: #4a4a4a
    }

    i:hover {
        color: #f85c37
    }
}

/* Custom buttons, labels */
.label-tag {
    background-color: #7b7b7b;
    border: solid 1px #333;
    font-size: 12px;
    font-weight: 200;
    color: #fff;
    padding: 5px 10px;
    display: inline-block;

    i {
        color: #f2f2f2;
        font-size: 12px;
    }
}

.btn-custom {
    background-color: #f85c37;
    border: solid 1px #B32F0F;
    font-size: 16px;
    color: #f2f2f2;
    padding: 15px 20px;
}

.btn-custom:hover, .btn-custom:active {
    background-color: #EE4820;
    color: #f2f2f2;
}

/* Modal layers */
.fade.modal {
    overflow-x: hidden;
}

.modal.fade .modal-dialog {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.5s;
}

.modal.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.modal-backdrop {
    background-color: #1a1a1a;
}

.modal-backdrop.in {
    opacity: 1;
    filter: alpha(opacity=100);
}

.modal-dialog {
    width: 90%;
    max-width: 1140px;
    padding-top: 50px;
}

.modal-content {
    border: none;
    border-radius: 0;
    box-shadow: none;
    background-color: #1a1a1a;
}

.modal-header {
    height: 60px;
    border: none;
    border-bottom: 1px solid #B32F0F;
    margin-bottom: 10px;
}

.modal-header .close {
    font-size: 42px;
    line-height: 42px;
    font-weight: normal;
    margin-top: 0px;
    color: #f85c37;
    text-shadow: none;
    opacity: 1;
}

.modal-header .close:hover {
    color: #7b7b7b;
}

.modal-body{
    .default{
        text-align: left;
        padding: 0;
    }

    h3 {
        color: #fff;
    }

    h2 {
        color: #fff;
        font-family: 'Montserrat';
        font-size: 20px;
        margin: 20px 0;
    }

    p {
        font-size: 16px;
        margin: 1em 0;
        line-height: 1.2;
        color:#f2f2f2;
    }

    li {
        color:#f2f2f2;
    }

    .project-descr {
        color: #aaa;
        margin: 0 0 24px;

    }

    .btn-theme {
        margin-top: 48px;
    }

    .loader {
        position: absolute;
        left: 50%;
        top: 0;
        margin-top: 27%;
        margin-left: -10px;
        width: 40px;
        height: 40px;
        background: url('../../img/item-loader.svg') no-repeat 50% 50%;
    }

    .image-wrapper {
        position: absolute;
        width: 96%;
        top: 4%;
        left: 3%;
        border: none;
        z-index: -1;
        opacity: 0;
        -webkit-transition: all 0.5s ease-out 0.7s;
        transition: all 0.5s ease-out 0.7s;
    }

    .image-wrapper.done {
        opacity: 1;
    }

}

/* Page loader */
#page-loader {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    background: #1a1a1a;
    z-index: 99999;

    .page-loader-gif {
        display: block;
        width: 80px;
        height: 80px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -32px 0 0 -32px;
        background: url('../../img/page-loader.svg') no-repeat;
    }
}

@media (max-width: 767px) {
    .modal-body,.modal-dialog {
        padding: 0;
    }
}

@media (max-width: 1023px) {
    .modal-body {
        padding: 0;
    }
}

/* Timeline */
#cd-timeline {
    position: relative;
    padding: 2em 0;
    /*margin-top: 2em;
    margin-bottom: 2em;*/
    background: #1a1a1a;

    .default {
        padding-top: 100px;
    }
}

#cd-timeline::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 1px;
    background: #7b7b7b;
    background-image: -webkit-linear-gradient(top, #1a1a1a, #7b7b7b, #1a1a1a);
    background-image: -moz-linear-gradient(top, #1a1a1a, #7b7b7b, #1a1a1a);
    background-image: -ms-linear-gradient(top, #1a1a1a, #7b7b7b, #1a1a1a);
    background-image: -o-linear-gradient(top, #1a1a1a, #7b7b7b, #1a1a1a);
    background-image: linear-gradient(top, #1a1a1a, #7b7b7b, #1a1a1a);
}

@media only screen and (min-width: 1170px) {
    #cd-timeline {
        /*margin-top: 3em;*/
        /*margin-bottom: 3em;*/
    }

    #cd-timeline::before {
        left: 50%;
        margin-left: -2px;
    }
}

.cd-timeline-block {
    position: relative;
    margin: 2em 0;
    text-align: left;
}

.cd-timeline-block:after {
    content: "";
    display: table;
    clear: both;
}

.cd-timeline-block:first-child {
    margin-top: 0;
}

.cd-timeline-block:last-child {
    margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-block {
        margin: 4em 0;
    }

    .cd-timeline-block:first-child {
        margin-top: 0;
    }

    .cd-timeline-block:last-child {
        margin-bottom: 0;
    }
}

.cd-timeline-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 1px solid #7b7b7b;
    border-radius: 50%;
    box-shadow: none;
    background: #3a3a3a;
    padding-top: 6px;
    text-align: center;

    i.icon-star {
        color: #fff;
        font-size: 24px;

    }
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-img {
        width: 60px;
        height: 60px;
        padding-top: 16px;
        left: 50%;
        margin-left: -32px;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }

    .cssanimations .cd-timeline-img.is-hidden {
        visibility: hidden;
    }

    .cssanimations .cd-timeline-img.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-1 0.6s;
        -moz-animation: cd-bounce-1 0.6s;
        animation: cd-bounce-1 0.6s;
    }
}

@-webkit-keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -moz-transform: scale(0.5);
    }

    60% {
        opacity: 1;
        -moz-transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
    }
}

@keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

.cd-timeline-content {
    position: relative;
    margin-left: 60px;
    background: #3a3a3a;
    padding: 1em;
    box-shadow: none;
    border: solid 1px #7b7b7b;

    h2 {
        color: #fff;
        font-family: 'Montserrat';
        font-size: 20px;
    }

    p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
        font-size: 16px;
    }

    .cd-read-more, .cd-timeline-content .cd-date {
        display: inline-block;
    }

    p {
        margin: 1em 0;
        line-height: 1.2;
    }

    .cd-read-more {
        float: right;
        padding: .8em 1em;
        background: #1a1a1a;
        color: white;
        border-radius: 0.25em;
    }

    .cd-date {
        /*float: left;
        padding: .8em 0;*/
        opacity: .7;
        color: #fff;
    }
}

.cd-timeline-content:after {
    content: "";
    display: table;
    clear: both;
}

.cd-timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 17px solid transparent;
    border-right: 17px solid #7b7b7b;
}

.no-touch .cd-timeline-content .cd-read-more:hover {
    background-color: #1a1a1a;
}

@media only screen and (min-width: 768px) {
    .cd-timeline-content h2 {
        font-size: 20px;
    }

    .cd-timeline-content p {
        font-size: 16px;

    }

    .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
        font-size: 14px;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-content {
        margin-left: 0;
        padding: 1.6em;
        width: 45%;

        .cd-read-more {
            float: left;
        }

        .cd-date {
            position: absolute;
            width: 100%;
            left: 122%;
            top: 6px;
            font-size: 16px;
            padding: .8em 0;
        }
    }

    .cd-timeline-content::before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: #7b7b7b;
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content {
        float: right;
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: #7b7b7b;
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
        float: right;
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
        left: auto;
        right: 122%;
        text-align: right;
    }

    .cssanimations .cd-timeline-content.is-hidden {
        visibility: hidden;
    }

    .cssanimations .cd-timeline-content.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-2 0.6s;
        -moz-animation: cd-bounce-2 0.6s;
        animation: cd-bounce-2 0.6s;
    }
}

@media only screen and (min-width: 1170px) {
    /* inverse bounce effect on even content blocks */
    .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
        -webkit-animation: cd-bounce-2-inverse 0.6s;
        -moz-animation: cd-bounce-2-inverse 0.6s;
        animation: cd-bounce-2-inverse 0.6s;
    }
}

@-webkit-keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
    }

    100% {
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -moz-transform: translateX(-100px);
    }

    60% {
        opacity: 1;
        -moz-transform: translateX(20px);
    }

    100% {
        -moz-transform: translateX(0);
    }
}

@keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
        transform: translateX(-100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        -ms-transform: translateX(20px);
        -o-transform: translateX(20px);
        transform: translateX(20px);
    }

    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
    }

    100% {
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -moz-transform: translateX(100px);
    }

    60% {
        opacity: 1;
        -moz-transform: translateX(-20px);
    }

    100% {
        -moz-transform: translateX(0);
    }
}

@keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        -ms-transform: translateX(100px);
        -o-transform: translateX(100px);
        transform: translateX(100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -o-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

/* Technology profile */
@media (max-width: 767px) {
    #tech {
        .text-right {
            text-align: left;
        }

        .text-left {
            text-align: left;
        }

        p {
            margin: 10px 0;
        }
    }
}

/* Error pages */
.error-code {
    color: #f85c37;
}
